 <!DOCTYPE html>
<html ng-app="chat">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/signup.css">
</head>
    <body ng-controller="AppCtrl">
        <div class="chat">
            <div class="message">
                <div class="text">hello1 <br> jjjjjjjjjjj</div>
                <div class="time">16:56</div>
            </div>
            <div class="message-right">
                <div class="text">hello1 <br> dgfhfdgh <br> dg xdf fhfdgh</div>
                <div class="time">16:57</div>
            </div>
            <div class="message">
                <div class="text">hello1 <br> fghdfhg</div>
                <div class="time">16:59</div>
            </div>
            <div class="message-right">
                <div class="text">hello1 <br> 345345</div>
                <div class="time">17:04</div>
            </div>
        </div>

        <div class="input">
            <div contenteditable="true" class="new-message">hello</div>
            <button class="button">Send</button>
        </div>

        <div class="modal-background">
        </div>
        <div class="modal">
            <div class="body">
                <div class="header">
                    <span>Sign Up</span>
                </div>

                <p>
                    <input type="text" name="email" ng-model="email" placeholder="Enter your email...">                    
                </p>
                <p>
                    <input type="password" name="email" ng-model="password" placeholder="Enter your password...">                    
                </p>
                <p>
                    <input type="password" name="email" ng-model="confirmPassword" placeholder="Confirm your password...">
                </p>
                <div>
                    <button class="button" ng-click="signup()">Sign Up</button>
                    <a href="#" class="link">Sign In</a>
                </div>
            </div>
        </div>

        <!-- <div class="modal">
            <div class="body">
                <div class="header">
                    <span>Sign In</span>
                </div>
        
                <p>
                    <input type="text" name="email" placeholder="Enter your email...">                    
                </p>
                <p>
                    <input type="password" name="email" placeholder="Enter your password...">                    
                </p>
                <div>
                    <button class="button">Sign In</button>
                    <a href="#" class="link">Sign Up</a>
                </div>
            </div>
        </div> -->


        <script src="../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="services/httpModel.js"></script>
        <script type="text/javascript" src="services/api.js"></script>
    </body>
</html>
