 <!DOCTYPE html>
<html ng-app="chat">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/signup.css">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
</head>
    <body ng-controller="AppCtrl">
        <div class="chat-header">
            <span class="selected-user" ng-show="selectedUser">{{selectedUser.email}}</span>
            <a href="" class="link link-left" ng-click="showUsers = true">Show Contacts</a>
            <a href="" class="link link-right" ng-click="logout()">logout</a>
        </div>

        <div class="chat">
            <div class="spinner-loader" ng-show="showChatSpinner"></div>
            <div class="chat-content">

                <div ng-repeat="message in selectedUser.messages" class="{{currentUser === message.from._id ? 'message-right': 'message'}}">
                    <div class="text">{{message.message}}</div>
                    <div class="time">{{message.createdOn}}</div>
                </div>
            </div>
        </div>

        <div class="users" ng-show="showUsers">
            <a href="" class="link" ng-click="showUsers = false">Hide Contacts</a>
            <div ng-repeat="user in users">
                <a href="" class="user-link" ng-click="selectUser(user)">{{user.email}}</a>
            </div>
        </div>

        <div class="input">
            <textarea name="newMessage" ng-model="newMessage" class="new-message" ng-keypress="sendMessageByEnter($event)"></textarea>
            <button class="button" ng-click="sendMessage()">Send</button>
        </div>

        <div ng-show="showLogin">
            <div class="modal-background">
            </div>
            <div class="modal" ng-show="!showSignin">
                <div class="body">
                    <div class="spinner-loader" ng-show="showSignupSpinner"></div>
                    <div class="header">
                        <span>Sign Up</span>
                    </div>

                    <p>
                        <input type="text" name="email" ng-model="signup.email" placeholder="Enter your email...">                    
                    </p>
                    <p>
                        <input type="password" name="password" ng-model="signup.password" placeholder="Enter your password...">                    
                    </p>
                    <p>
                        <input type="password" name="confirmPassword" ng-model="signup.confirmPassword" placeholder="Confirm your password...">
                    </p>
                    <div>
                        <button class="button" ng-click="signup()">Sign Up</button>
                        <a href="" class="link" ng-click="showSignin = true">Sign In</a>
                    </div>
                </div>
            </div>
            <div class="modal" ng-show="showSignin">
                <div class="body">
                    <div class="spinner-loader" ng-show="showSigninSpinner"></div>
                    <div class="header">
                        <span>Sign In</span>
                    </div>
            
                    <p>
                        <input type="text" name="email" ng-model="signin.email" placeholder="Enter your email...">                
                    </p>
                    <p>
                        <input type="password" name="password" ng-model="signin.password" placeholder="Enter your password...">                   
                    </p>
                    <div>
                        <button class="button" ng-click="signin()">Sign In</button>
                        <a href="" class="link" ng-click="showSignin = false">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

        <script src="../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="services/httpModel.js"></script>
        <script type="text/javascript" src="services/api.js"></script>
        <script type="text/javascript" src="services/context.js"></script>
        <script type="text/javascript" src="services/socket.js"></script>
    </body>
</html>
