html, body, .container {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

span, div {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.chat {
    position: relative;
	border-radius: 10px;
    width: 80%;
	height: 60%;
    padding: 20px;
    margin: 20px;
    background: #fff;
    padding-top: 100px;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}  

.chat-header {
    z-index: 9;
    position: absolute;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin-left: 20px;
    background: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.link-left{
    position: absolute;
    left: 1%;
    top: 30%;
}

.link-right{
    position: absolute;
    right: 1%;
    top: 30%;
}       
 
.input {
	position: relative;
	border-radius: 10px;
	width: 80%;
    padding: 5px 20px;
    margin: 5px 20px;
    background: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.input > .button{
	position: absolute;
	top: 5px;
	right: 2%;
	padding: 3px 30px;
	background-color: rgba(119, 114, 114, 0.3);
	border-radius: 5px;
	font-size: 10px;
    cursor: pointer;
}

.message {
	position: relative;
    margin-bottom: 10px;
	border-radius: 10px;
    font-size: 10px;
	width: 80%;
    padding: 5px 20px;
    background: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;	
}

.message-right {
	position: relative;
    margin-bottom: 10px;
	margin-left: 10%;
	border-radius: 10px;
    font-size: 10px;
	width: 80%;
    padding: 5px 20px;
    background: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;	
}

.message-right > .time, .message > .time {
	position: absolute;
	right: 2%;
	top: 5px;
}

.new-message {
	width: 80%;
}

input[type=text], input[type=password] {
    padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.users {
    z-index: 99;
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    background: #fff;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.selected-user {
    font-size: 23px;
    position: absolute;
    top: 10%;
    left: 50%;
}

.spinner-loader {
    position: absolute;
    top: 40%;
    margin: 0 auto;
    left: 50%;
    z-index: 99;
}

.chat-content {
    bottom: 0;
    position: absolute;
    width: 100%;
}